  #m{
    width: 60%;  
  }
  
  #tach{
    justify-content:left;
  }
  #rasto{
    width:85%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .btn{
    margin: 30px;
  }

  #buttons{
    display:flex;
    flex-direction: row;
  }
  .sticky-footer {
    width:100%;
    color: white;
    background: #a62424;
    background: linear-gradient(90deg, #a62424 42%, #741919 75%);
  }
  .sticky-footer h6 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .sticky-footer .wide-container span, .sticky-footer .wide-container a {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 7px;
    transition: 0.3s;
  }
  .sticky-footer .wide-container a:hover {
    color: white;
    text-decoration: none;
  }
  .sticky-footer .social-links {
    padding: 25px 0px;
  }
  .sticky-footer .social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 100%;
    text-align: center;
    margin: 5px;
    color: #a62424;
    transition: 0s !important;
  }
  .sticky-footer .social-links a i {
    line-height: 30px;
  }
  .sticky-footer .social-links a:hover {
    color: #841c1c;
    transform: scale(1.1);
  }
  .sticky-footer .sponsors, .sticky-footer .links, .sticky-footer .contact_us {
    padding: 25px 0px;
  }
  .sticky-footer .sponsors a {
    vertical-align: top;
    height: 100%;
  }
  .sticky-footer .sponsors img {
    margin-top: -7px;
  }
  .sticky-footer .sponsors .nocr_logo {
    margin-top: 15px;
  }
  .sticky-footer .sponsors .nocr_logo img {
    border-radius: 3px;
  }
  .sticky-footer .sponsors .museum_logo {
    margin-top: 15px;
  }
  .sticky-footer .sponsors .museum_logo img {
    margin-left: 10px;
  }
  .sticky-footer .sponsors .slovakia_travel_logo {
    margin-top: 15px;
  }
  .sticky-footer .sponsors .slovakia_travel_logo img {
    margin-left: 10px;
  }
  .sticky-footer .footer-logo {
    max-height: 30px;
  }
  .sticky-footer .copyright {
    padding: 7px;
    background: rgba(0, 0, 0, 0.2);
  }
  .sticky-footer .copyright a, .sticky-footer .copyright span {
    color: white;
  }
  .sticky-footer .footer_logo {
    height: 100px;
    position: absolute;
  }
  
  .nav-item
  { 
   {
     border-bottom: 1px solid rgba(0,0,0,0.1);
     &:last-child
    {
      border: none;
    }
  }
  }
  
  .body {
      min-height: 100vh;
      max-width: 400px;
      background-color: papayawhip; 
      margin: 0 auto;
  }
  
  #car_img{
    height: 300px; 
    width: 500px;
  }
  
  #dots{
    position:relative;
  }
  
  #a{
    position:absolute;
    top:10px;
    left: 50px;
  }
  
  #b{
    position:absolute;
    top: 2px;
    left: 150px;
  }
  #c{
    position:absolute;
    top:100px;
    left: 500px;
  }
  
  .dot1 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    top: 430px;
    left: 130px;
  }
  
  .dot2 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    top: 430px;
    left: 230px;
  }
  
  .dot3 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    top: 520px;
    left: 230px;
  }
  
  .dot4 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    top: 520px;
    left: 180px;
  }
  
  .dot5 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    top: 520px;
    left: 130px;
  }
  
  .dot6 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position:absolute;
    top: 620px;
    left: 570px;
  }
  
  #text{
    position:absolute;
    top: 30px;
    left: 30px;
  }
  
  #btn{
    display:flex;
    flex-direction: row;
  }